h1{
    size: 100px;
}
header{
    display: flex;
    justify-content: center;
}

article{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.right{
    width: 1050px;
}
.left {
    display:inline-block;
    width: 1050px;
}
.func {
    width: 1500px;
}

article aside {
    text-align: center;
    
}

footer {
    text-align: center;

}
