{%with messages = get_flashed_messages() %}
	{% if messages %}
		<script>
			alert("{{messages[-1]}}")
		</script>
	{%endif%}
{%endwith%}
<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<title>Greenfood</title>
	<link rel="stylesheet" href="./static/css/common.css">
</head>

<body>
	<div class="container">
		<header class="header">
			<div class="w_inner">
				<!-- 로고 -->
				<h1 class="logo_img">
					<a href="/" class="link_home">
						<img src="./static/images/img_logo.jpg" alt="그린푸드" class="img_g">
					</a>
				</h1>

				<nav class="wrap_gnb">
					<ul class="list_gnb">
						<li><a href="login">로그인</a></li>
						<!-- <li><a href="#none">로그아웃</a></li> -->
						<li><a href="#none">마이페이지</a></li>
						<li><a href="statistic">통계</a></li>
					</ul>
				</nav>

			</div>
		</header>
		<main class="contents">
			<div class="w_inner">
				<div class="wrap_upload">
					<h2 class="area_guide">
						식사하기 전<br>영양성분을 알아보세요!
					</h2>
					<div class="guide_upload">
						<strong class="tit_guide">
							어떻게 사용하나요?
						</strong>
						<p class="guide_txt">이미지를 업로드 후 실행 버튼을 누르세요.</p>
					</div>

					<div class="form_search">
						<form action="/" method="POST", enctype="multipart/form-data">
							<fieldset>
								<legend class="blind">이미지 검색</legend>

								<input type="file" name="file" id="">
								<!-- <button type="submit" class=" btn_search">실행</button> -->
								<button type="submit" class=" btn_search">실행</button>
								<!-- <a href="result" class="btn_search">실행</a> -->
							</fieldset>
						</form>
					</div>

					<div class="guide_img">
						<span class="txt_img">예시</span>
						<div class="thumb_img">
							<img src="./static/images/img_food.jpg" alt="음식사진" class="img_g">
						</div>
						<div class="wrap_progress">
							<dl>
								<div class="group_progress type1">
									<dt>탄수화물</dt>
									<dd>
										<span class="area_progress">
											<span class="bar_progress" style="width:00%" id="tan"></span>
										</span>
										<span class="num_percent">75%</span>
									</dd>
								</div>
								<div class="group_progress type2">
									<dt>지방</dt>
									<dd>
										<span class="area_progress">
											<span class="bar_progress" style="width:00%" id="ji"></span>
										</span>
										<span class="num_percent">20%</span>
									</dd>
								</div>
								<div class="group_progress type4">
									<dt>단백질</dt>
									<dd>
										<span class="area_progress">
											<span class="bar_progress" style="width:00%" id="dan"></span>
										</span>
										<span class="num_percent">45%</span>
									</dd>
								</div>
							</dl>
						</div>
					</div>

				</div>

			</div>
		</main>
		<footer class="footer">
			<div class="w_inner">
				<dl class="list_desc">
					<div class="area_desc">
						<dt>주의사항:</dt>
						<dd>내용 입력</dd>
					</div>
					<div class="area_desc">
						<dt>DB 출처:</dt>
						<dd>내용 입력</dd>
					</div>
					<div class="area_desc">
						<dt>정보 관리 정책:</dt>
						<dd>내용 입력</dd>
					</div>
				</dl>
			</div>
		</footer>
	</div>

	<script>
		function tag (end, tag) {
			

			let progress = document.getElementById(tag)
			let interval = 1
			let updatesPerSecond = 2000 / 180
			
			
			function animator () {
				
			  	progress.style.width = (parseInt(progress.style.width.substring(0,2)) + interval) + '%';

			  	if ( (parseInt(progress.style.width.substring(0,2)) + interval) < end){
					setTimeout(animator, updatesPerSecond);
			  	} else { 
					progress.style.width = end + '%'
			  	}
			}
		  
			setTimeout(() => {
			  animator()
			}, updatesPerSecond)
		}
		tag(75, 'tan')
		tag(20, 'ji')
		tag(45, 'dan')
		
	</script>

</body>

</html>