<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>greenfood</title>
</head>
<body>
    <header>
        <h1>식사하기 전 영양성분을 알아보세요~</h1>
        <img src="static/images/logo.svg">
    </header>
    

    <article>
        <div class="func">
            <form action="/" method="POST", enctype="multipart/form-data">
                사진 : <input type="file" name="file">
                <input type="submit" value="전송하기">
            </form>

            <br>
            <img src="static/images/main_image.jpeg" height="500" width="600">
        </div>
        
        

        <aside>도움말: 이미지를 업로드 후 실행버튼을 누르세요</aside>
        

    </article>

    

    <footer>
        주의사항: ...
        DB 출처 : 한국 영양 데이터베이스
    </footer>

</body>
</html>